<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdU8D-c6zFKLpMuUIkP8fjCLtDtoAeJWX_bQ&usqp=CAU" class="img-fluid rounded" alt="logo" style="height: 3rem; width: 3rem;"> <strong> IgleServi</strong>
    </a>
    <div class="form-inline">
        <button class="btn btn-outline-success mr-sm-2" type="submit">Iniciar Sesion</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registrarse</button>
    </div>
</nav>
