body {
    background: url("https://img.archiexpo.es/images_ae/projects/images-g/par-vidrios-gigante-llena-esta-oficina-moscu-1067-8429000.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.text-primary {
    color: #28a745 !important;
}

.text-black {
    color: #28a745 !important;
}
