.text-dark {
    color: #28a745 !important;
}

body {
    background: url("https://cdn.shopify.com/s/files/1/0059/0056/6597/products/f0895811eb75184fde9ae99ec5cf8868.jpg?v=1550135389");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
