body {
    background: url("https://image.shutterstock.com/image-photo/two-business-people-calculating-earnings-260nw-1261232329.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.text-dark {
    color: #28a745 !important;
}

.error-text {
    color: #d10404 !important;
}
