body {
    background: url("https://devostock.com/static2/preview2/stock-photo-aerial-view-of-computer-laptop-on-wooden-table-30962.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
